.contact {
    border: 1px solid #212121;
    border-radius: 3%;
    width: 330px;
    margin: 10px auto;
    display: flex;
    padding: 10px;
}
.contact div {
    display: flex;
    flex-direction: column;
}

.info {
    width: 75%;
}

.name {
    margin: 0px;
    padding:  auto 30px;
    font-size: 18px;
}

.button {
    border: 1px solid #212121;
    border-radius: 7%;
    background-color: rgb(217, 227, 236);
    margin: auto;
    margin-right: 0px;
}